@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #fefaf6;
}

h1 {
  color: #102c57;
}
